@page "/"
@page "/home"

<PageTitle>Home Page</PageTitle>

<link rel="stylesheet" href="css/Home.css">

<body>
    <div class="background"></div>
    <div class="content">
        <h1>Welcome to HAR System</h1>
        <p>Effortlessly Recognize and Monitor Human Activities with LLM-Powered Insights</p>
        <div class="button">
            <a href="/aboutus">Explore Features</a>
        </div>
    </div>
    <footer>
        &copy; 2024 HAR System. All Rights Reserved.
    </footer>
</body>